.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header, .footer {
  flex: 1;
}

section {
  flex: 3
}

.title {
  margin-bottom: 2em;
  font-size: larger;
}

.keyboard {
  width: 30vh;
}

.keyboard > * {
  font-size: 1.8em;
}

.word {
  letter-spacing: 0.4em;
  font-size: 2em;
  margin: 1em;
  margin-right: 0.6em;
}

.clue {
  font-size: 0.8em;
  margin: 2em;
}